@import "./colors.less";

html {
  box-sizing: border-box;
  background-color: @main-background-color;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Microsoft YaHei Regular', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin: 0;
  min-height: inherit;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
}
